@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Home Page!</h2>
<p>You have successfully logged in.</p>


<div>
    <button class="btn-black" onclick="location.href='@Url.Action("Add", "Client")'">Add Client</button>
    <button class="btn-black" onclick="location.href='@Url.Action("ViewClient", "Client")'">View Clients</button>
</div>