@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Home Page!</h2>
<p>You have successfully logged in.</p>


<div>
    <button class="btn-black" onclick="location.href='@Url.Action("AddClient", "Home")'">Add Client</button>
    <button class="btn-black" onclick="location.href='@Url.Action("ViewClients", "Home")'">View Clients</button>
</div>