@model ClientAddModel
<h2>Edit Client</h2>

<form asp-action="EditClient" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="ProfilePicture">Profile Picture</label>
        <input type="file" class="form-control" id="ProfilePicture" name="ProfilePicture" required />
    </div>

    <div class="form-group">
        <label for="Title">Title</label>
        @* <select asp-for="TitleId" class="form-control" asp-items="Viewbag.Titles"></select> *@
    </div>

    <div class="form-group">
        <label for="Name">First Name</label>
        <input type="text" class="form-control" id="Name" name="Client.Name" required />
    </div>

    <div class="form-group">
        <label for="Surname">Surname</label>
        <input type="text" class="form-control" id="Surname" name="Client.Surname" required />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Client.Email" required />
    </div>

    <div class="form-group">
        <label for="ContactNumbers">Contact Numbers</label>
        <input type="text" class="form-control" id="ContactNumbers" name="Client.ContactNumbers" required />
    </div>

    <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" class="form-control" id="Address" name="Client.Address" required />
    </div>

    <div class="form-group">
        <label for="ClientType">Client Type</label>
        @* <select asp-for="ClientTypeId" class="form-control" asp-items="Viewbag.ClientTypes"></select> *@
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>